<form class="form-horizontal" action="/account/sissignup" method="post">
  <fieldset>

    <div class="control-group">
        <!-- Masinhvien -->
        <label class="control-label" for="user[sis]">StudentID</label>
        <div class="controls">
	        <input type="text" id="email" name="user[sis]" placeholder="" class="input-xlarge">
	        <p class="help-block">Please provide your StudentId</p>
	        <a href="/account/sisid">Forgot StudentId?</a>
        </div>
    </div>
  </fieldset>
</form>